# SPDX-FileCopyrightText: © 2016 Rob Webset
# SPDX-FileCopyrightText:  2020-2021 Peter J. Mello <admin@petermello.net>
#
# SPDX-License-Identifier: CC0-1.0

**/.mypy_cache
.idea/
.settings/
*.code-workspace
