<?xml version="1.0" encoding="utf-8" standalone="yes"?><!--
SPDX-FileCopyrightText: © 2016-2018 Rob Webset
SPDX-FileCopyrightText:  2020-2021 Peter J. Mello <admin@petermello.net>

SPDX-License-Identifier: MPL-2.0

See LICENSES/MPL-2.0.txt for more information.
--><settings version="1">
  <section id="service.addonsync">
    <category id="general" label="32001" help="">
    <group id="main" label="">
        <setting id="isFirstUse" type="boolean" label="First Use" help="">
          <level>4</level>
          <visible>false</visible>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="installationType" type="integer" label="32007" help="">
          <level>1</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="32008">0</option>
              <option label="32009">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string" />
        </setting>
        <setting id="centralStoreLocation" type="path" label="32004" help="">
          <level>1</level>
          <default />
          <constraints>
            <writable>true</writable>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="path">
            <heading>32004</heading>
          </control>
        </setting>
        <setting id="runOnStartup" type="boolean" label="32018" help="">
          <level>1</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="checkInterval" type="integer" label="32010" help="">
          <level>1</level>
          <default>0</default>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>24</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
          <dependencies>
            <dependency type="visible" setting="runOnStartup">true</dependency>
          </dependencies>
        </setting>
        <setting id="restartUpdatedServiceAddons" type="boolean" label="32023" help="">
          <level>1</level>
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="installationType">1</dependency>
          </dependencies>
        </setting>
    </group>
      <group id="debug" label="32002">
        <setting id="logEnabled" type="boolean" label="32003" help="">
          <level>2</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
      <group id="ops" label="32021">
        <setting id="runNow" type="action" label="32022" help="">
          <level>0</level>
          <data>RunScript($CWD/resources/lib/default.py)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
      </group>
    </category>
    <category id="filter" label="32012" help="">
    <group id="filtering" label="">
        <setting id="forceVersionMatch" type="boolean" label="32024" help="">
          <level>2</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="filterType" type="integer" label="32016" help="">
          <level>2</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="32013">0</option>
              <option label="32014">1</option>
              <option label="32015">2</option>
            </options>
          </constraints>
          <control type="spinner" format="string" />
        </setting>
        <setting id="selectAddons" type="action" label="32017" help="">
          <level>2</level>
          <data>RunScript($CWD/resources/lib/filter.py)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible">
              <or>
                <condition setting="filterType">1</condition>
                <condition setting="filterType">2</condition>
              </or>
            </dependency>
          </dependencies>
        </setting>
        <setting id="excludedAddons" type="string" label="Excluded Addons" help="">
          <level>2</level>
          <visible>false</visible>
          <default />
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Excluded Addons</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="includedAddons" type="string" label="Included Addons" help="">
          <level>2</level>
          <visible>false</visible>
          <default />
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Included Addons</heading>
            <hidden>true</hidden>
          </control>
        </setting>
    </group>
    </category>
  </section>
</settings>
